@font-face {
    font-family: 'JustVectorRegular';
    src: url('justvector-webfont.eot');
    src: url('justvector-webfont.eot?#iefix') format('eot'),
         url('justvector-webfont.woff') format('woff'),
         url('justvector-webfont.ttf') format('truetype'),
         url('justvector-webfont.svg#webfontmuk63VQd') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.header{
    padding: 0 0 0 7px;
    background-color: #374049;
    color:white;
}

h1{
    padding:20px 0 0 12px;
    margin-bottom:0px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.header p{
    font-size:13px;
    padding-left: 12px;
    padding-bottom:23px;
    margin:0;
    color: white;
    opacity: 0.6;
}

.nav{
    padding: 13px 0 13px 14px;
    height: 46px;
    background: linear-gradient(0deg, white, #8b99a7 55%);

}

.soclinks a{
    text-decoration:none;
    opacity: 1;
    float: left;
    display:inline-block;
    font-family:'JustVectorRegular';
    font-size: 35px;
    margin-top:8px;
    padding-left:0px;
    letter-spacing: 0.2em;
    text-shadow: 0px 0px .5px black;
    color:#ffffff;
}

.soclinks a:hover{
    text-shadow: 0px 1px 2px black;
    cursor:default;
}

.s--github:hover{
    color:black;
}

.s--rss:hover{
    color:#FF6600;
}

.s--twitter:hover{
    color:#0084b4;
}

.sitelinks{
    margin-top: 10px;
    margin-right:8px;
    font-size: 15px;
    float: right;
}

.sitelinks a{
    font-weight: 600;
    padding:0 7px 0 7px;
    text-decoration: none;
    color:#2F4F4F;
}
.sitelinks a:hover{
    color:white;
    cursor:default;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.narrow{
width: 90%;
margin:auto;
}

hr{
    border-style: outset;
    border-width: 0.1px;
    border-collapse: ;
    border-radius: 80%;
}

.fade{
    color: #374049;
    opacity: 0.4;
    line-height: 22px;
    font-weight: 600;
}

.date{
    margin-top:25px;
    font-size:13px;
    font-weight: 400;
}

h2{
    margin-top:10px;
    margin-bottom:5px;
    font-size:27px;
    font-weight:600;
    color:#374049;
    letter-spacing: -0.03em;
}

p{
    font-size: 15px;
}



.title{
    margin-top:35px;
    margin-bottom:19px;
    font-size:13px;
    letter-spacing: 0.12em;
}

.article {
    margin-top:5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.article::first-letter {
    font-size: 200%;
    color: #000000;
}

.captions{
    font-size:13px;
    opacity:0.6;
}

.article_img{
    text-align:center;
}
.article_img img{
    width: 90%;
}
.article_img:hover{
    border-style: double;
    margin:-2px -2px -3px -2px;
}